/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Statement
- Services
- Description
- About 1
- About 2
- Pricing
- Invitation
- Projects
- Project Lightboxes
- Comments
- Team
- Contact
- Footer
- Copyright
- Back To Top Button 
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - gray
- Buttons, icons - purple
- Buttons - pink rgb(91, 1, 91)
- Body text, headings text - #000 0r #fff
******************************************/


/**************************/
/*     General Styles     */
/**************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&family=Roboto+Slab:wght@200&family=Roboto:wght@300;400&display=swap');

body,
html {
    width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}


h1 {
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 3.375rem;
	letter-spacing: -0.2px;
}

h2 {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.75rem;
	letter-spacing: -0.2px;
}

h3 {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;	
}

h5 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h6 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.col-lg-12 p.p-large{
	color: #000;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.p-small strong{
	color: grey;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-size: 1.5rem;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.orange {
	color: purple;
}

.orange:hover{
	color:#000;
}

.white {
	color: #ffffff;
}

a.white:hover {
	color: #ffffff;
}

.hr-heading {
	width: 64px;
	height: 2px;
	margin-top: 0;
	border: none;
	background: linear-gradient(90deg, red, blue);
	opacity: 0.8;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: none;
	border-radius: 32px;
	background: rgb(55, 167, 204);
	color: #fff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: background 650ms ease-in;
	
}

.btn-solid-reg:hover {
	border: 1px solid #fff;
	background: transparent;
	color: #fff; /* needs to stay here because of the forced color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid purple;
	border-radius: 32px;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid purple;
	background-color: transparent;
	color: purple; /* needs to stay here because of the forced color property of a tag */
	text-decoration: none;
}

.btn-price{
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border-radius: 1rem;
	border: none;
	background: rgb(243, 112, 134);
	color: #fff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: background 650ms ease-in;
}

.btn-price:hover{
	border: 1px solid #000;
	background: transparent;
	color: #000;
	text-decoration: none;
}

.btn-swiper-slide {
	display: inline-block;
	padding: 1.6rem 3.6rem;
	border-radius: 32px;
	border: 0.1rem solid #fff;
	background: transparent;
	color: #fff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: background 650ms ease-in-out;
}

.btn-swiper-slide:hover {
	border: none;
	background:#fff;
	color: rgb(55, 167, 204);
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border-radius: 32px;
	border: 0.1rem solid rgb(243, 112, 134);
	background: transparent;
	color: rgb(243, 112, 134);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: background 650ms ease-in;
}

.btn-outline-reg:hover {
	border: none;
	background: rgb(243, 112, 134);
	color: #fff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.6rem 3.6rem;
	border: 1px solid lightblue;
	border-radius: 2rem;
	background-color: transparent;
	color: lightblue;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid purple;
	border-radius: 32px;
	background-color: transparent;
	color: purple;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 1px solid purple;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.375rem;
	color: #000;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #000;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.25rem;
	border: 1px solid #000;
	background-color: #ffffff;
	color: #000;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #000;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.25rem;
	border: 1px solid #000;
	background-color: #ffffff;
	color: #000;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #000;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #000;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: none;
	border-radius: 0.3rem;
	background: lightblue;
	color: #000;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: background 650ms ease-in;
}

.form-control-submit-button:hover {
	border: 1px solid #fff;
	background:transparent;
	color: #fff;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox And Morphtext - Magnific Popup  */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox and morphtext - magnific popup */


/**********************/
/*     Navigation     */
/**********************/

nav.fixed-top{
	background: #f4f4f4;
}
.navbar {
	color: #000;
	font-weight: bold;
	font-size: 0.5rem;
	line-height: 0.5rem;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 1.50);
}

.navbar .navbar-brand {
	padding-top: 1px;
	padding-bottom: 1px;
}

.navbar .logo-image img {
    width: 15rem;
	height: 3rem;
	margin-left: -1rem;
}

.top-clicks {
	position: fixed;
	top: 4.5rem; /* adjusts the height between the top of the page and the offcanvas menu */
	left: 95%;
	width: 60%;
	height: 60%;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	line-height: 2;
	text-align: center;
	align-items: center;
	overflow-y: auto;
	visibility: hidden;
	background: #fff;
	border-radius: 1rem;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.top-clicks.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	font-size: 0.95rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #000;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: rgb(243, 112, 134);
}

.navbar .nav-item .nav-link:hover{
	background-color:rgb(228, 228, 228);
	border-radius: 1rem;
}

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	transition: all 0.2s ease;
	color: rgb(243, 112, 134);
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: pink;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 6.5rem;
	padding-bottom: 8rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url('../images/header-background.jpg')  center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
}

.header h1 {
	color: #fff;
	font-family: 'Merriweather', serif;
}

.header .h1-large{
	font-weight: bold;
	font-size: 2.2rem;
	line-height: 1.5;
}

/* Cursor */
.txt-type > .txt{
    border-right: 0.1rem solid #fff;
}


.header .p-large {
	margin-bottom: 1.75rem;
	color: lightgray;
}

.header .btn-outline-lg {
	background: lightblue;
	border: none;
	color: #000;
	transition: background 650ms ease;
}

.header .btn-outline-lg:hover {
	background: transparent;
	color: #fff;
	border: 0.1rem solid #fff;
}

.header .form-container {
	background: transparent;
	padding: 3rem 1rem 2rem 1rem;
	border: 0.2rem solid #fff;
	border-radius: 1rem;
}

.header .form-container .form-control-input{
	border-radius: 1rem;
}

.header .form-control-select{
	border-radius: 1rem;
}

.header .form-group{
	color: #fff;
}

.header .form-group .form-control-submit-button a{
	text-decoration: none;
	font-size: 1.1rem;
}


/*********************/
/*     Statement     */
/*********************/
.basic-1 {
	padding-top: 8rem;
	padding-bottom: 7rem;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	text-align: center;
}

.basic-1 .text-container {
	margin-bottom: 2rem;
}

.basic-1 .element .icon {
	width: 128px;
	height: 128px;
	margin-bottom: 1rem;
}

.basic-1 .element .title {
	color: #fff;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 1.75rem;
}

.basic-1 .fa-chevron-down {
	margin-bottom: 1.25rem;
	color: #fff;
	font-size: 1.2rem;
	background: gray;
	padding: 0.6rem 0.6rem;
	border-radius: 50%;
}

.basic-1 .fa-chevron-right {
	display: none;
	background: #000;
	padding: 0.4rem 0.6rem;
	border-radius: 50%;
}

.basic-1 .testimonial-text,
.basic-1 .testimonial-author {
	color: #fff;
}

.basic-1 .testimonial-text {
	margin-top: 0.375rem;
}


/********************/
/*     Services     */
/********************/
.basic-2 {
	background: #f4f4f4;
	padding-top: 7.5rem;
	padding-bottom: 4.5rem;
	text-align: center;
}

.basic-2 
.col-lg-12,
.text-container{
	color: #000;
}

.basic-2 .p-heading {
	margin-bottom: 3.5rem;
}

.basic-2 .service-container {
	margin-bottom: 3.5rem;
}

/* Hover Animation */
.basic-2 .image-container {
	overflow: hidden;
	width: 140px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 4px;
}

.basic-2 .image-container img {
	width: 100%;
	margin: 0;
	transition: all 0.3s;
}

.basic-2 .image-container:hover img {
	-moz-transform: scale(1.20);
	-webkit-transform: scale(1.20);
	transform: scale(1.20);
} 
/* end of hover animation */


/***********************/
/*     Description     */
/***********************/
.slider-1 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 86%;
}

.slider-1 .image-container {
	margin-bottom: 2rem;
}

.slider-1 .image-container img {
	border-radius: 2rem;
}

.slider-1 h3 {
	margin-bottom: 0.875rem;
	color: #fff;
}

.slider-1 .slider-container p {
	margin-bottom: 1.5rem;
	color: #fff;
}

.slider-1 .swiper-button-prev,
.slider-1 .swiper-button-next {
	width: 18px;
	background-color: #000;
	padding: 1rem;
	border-radius: 1rem;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}


/*********************/
/*     About 1     */
/*********************/
.accordion{
	background: #f4f4f4;
}

.accordion .area-1 {
	height: 432px;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url('../images/details-1-background.jpg') center center no-repeat;
	background-size: cover;
}

.accordion .accordion-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 7.5rem;
	padding-bottom: 3.5rem;
}

.accordion .item {
	margin-bottom: 2rem;
	color: #000;
}

.accordion h4 {
	margin-bottom: 0;
}

.accordion span[aria-expanded="true"] .circle-numbering,
.accordion span[aria-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.875rem;
	border: none;
	border-radius: 50%;
	background:  rgb(243, 112, 134);
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	line-height: 2.375rem;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion span[aria-expanded="false"] .circle-numbering {
	border: 1px solid #000;
	background-color: transparent;
	color: #000;
}

.accordion .accordion-title {
	display: inline-block;
	width: 70%;
	margin-bottom: 0.1875rem;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 1.875rem;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
	color: #000;
}

.accordion span[aria-expanded="true"] .accordion-title {
	color: rgb(55, 167, 204);
}

.accordion h4:hover .circle-numbering {
	border: 1px solid #fff;
	background: #fff;
}
.accordion h4:hover .accordion-title {
	color: rgb(55, 167, 204);
}

.accordion .accordion-body {
	margin-left: 3.5rem;
}


/*********************/
/*     About 2     */
/*********************/
.tabs{
	background: #f4f4f4;
}

.tabs .tabs-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 3.5rem;
	padding-bottom: 7rem;
}

.tabs .nav-tabs {
	margin-bottom: 1.5rem;
	justify-content: center;
	border-bottom: none;
}

.tabs .nav-link {
	margin-right: 0.625rem;
	margin-bottom: 0.625rem;
	padding: 0.625rem 1.75rem;
	border: 0.1rem solid #000;
	border-radius: 10px;
	background: transparent;
	color: #000;
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 1.375rem;
	text-decoration: none;
	transition:background 650ms ease-in;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #fff;
}

.tabs #tab-1 .progress-container {
	margin-top: 1.5rem;
}

.tabs #tab-1 .progress-container .title {
	font-weight: 700;
	margin-bottom: 0.25rem;
}

.tabs #tab-1 .progress {
	height: 22px;
	margin-bottom: 1.125rem;
	border-radius: 1rem;
	background: lightgray;
}

.tabs #tab-1 .progress-bar {
	display: block;
	padding-left: 1.5rem;
	border-radius: 1rem;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
}

.tabs #tab-1 .progress-bar.first {
	width: 100%;
}

.tabs #tab-1 .progress-bar.second {
	width: 75%;
}

.tabs #tab-1 .progress-bar.third {
	width: 90%;
}

.tabs #tab-2 .list-unstyled {
	margin-top: 1.75rem;
	margin-bottom: 0;
	vertical-align: top;
}

.tabs #tab-2 .list-unstyled .media {
	margin-bottom: 2rem;
}

.tabs #tab-2 .list-unstyled .media-bullet {
	color: rgb(243, 112, 134);
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.5rem;
}

.tabs #tab-2 .list-unstyled .media-body {
	margin-left: 0.875rem;
}

.tabs #tab-3 .list-unstyled .fas {
	color: rgb(243, 112, 134);
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.tabs #tab-3 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.tabs #tab-3 .list-unstyled {
	margin-bottom: 1.75rem;
}

.tabs #tab-3 .btn-solid-reg {
	margin-right: 0.5rem;
	margin-bottom: 1rem;
}

.tabs #tab-3 .btn-solid-reg{
	background: rgb(55, 167, 204);
	color: #fff;
	border: none;
}

.tabs #tab-3 .btn-solid-reg:hover{
	background: transparent;
	color: rgb(55, 167, 204);
	border: 1px solid rgb(55, 167, 204);
}


.tabs .area-2 {
	height: 432px;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url('../images/details-2-background.jpg') center center no-repeat;
	background-size: cover;
}


/*******************/
/*     Pricing     */
/*******************/
.cards-1 {
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	padding-top: 8rem;
	padding-bottom: 3.25rem;
}

.cards-1 h2 {
	color: #fff;
	margin-bottom: 0.75rem;
	text-align: center;
}

.cards-1 p.p-neg{
	color: #fff;
}

.cards-1 .hr-heading {
	margin-bottom: 3.5rem;
}

.cards-1 .text-container {
	margin-bottom: 4.5rem;
}

.cards-1 .text-container h3 {
	margin-bottom: 0.875rem;
}

.cards-1 .card {
	background: lightgray;
	color: #000;
	margin-bottom: 5rem;
	padding: 2.5rem 1.5rem 3.25rem 1.5rem;
	border: 0.1rem solid #000;
	border-radius: 1rem;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.800);
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .price {
	position: absolute;	
	top: -1rem;
	right: -1rem;
	width: 4.5rem;
	height: 4.5rem;
	border: 0.1rem solid #000;
	border-radius: 50%;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #fff;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 4.375rem;
	text-align: center;
}

.cards-1 .card-title {
	margin-bottom: 1rem;
	text-align: center;
}

.cards-1 .card .list-unstyled {
	margin-bottom: 0.5rem;
}

.cards-1 .card .list-unstyled .fas {
	color: rgb(243, 112, 134);
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.cards-1 .card .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.cards-1 .card .btn-wrapper {
	margin-top: 1.75rem;
	text-align: center;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-3 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: #f4f4ff;
	text-align: center;
}

.basic-3 h5 {
	color: #000;
	margin-bottom: 1.75rem;
}

.basic-3 .btn-outline-lg {
	background: rgb(243, 112, 134);
	border: none;
	color: #fff;
	transition: background 650ms ease-in;
}

.basic-3 .btn-outline-lg:hover {
	border: 0.1rem solid rgb(243, 112, 134);
	background: transparent;
	color: rgb(243, 112, 134);
}


/********************/
/*     Projects     */
/********************/
.filter {
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(../images/pic.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 7.75rem;
	padding-bottom: 8.25rem;
	text-align: center;
}

.filter .p-heading {
	margin-bottom: 3.5rem;
}

.filter .button-group a {
	display: inline-block;
	margin-right: 0.1875rem;
	margin-bottom: 0.5rem;
	margin-left: 0.1875rem;
	padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
	background: lightgray;
	color: #000;
	border-radius: 1rem;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-decoration: none;
	cursor: pointer;
	transition: background 650ms ease-in;
}

.filter .button-group a:hover {
	background: rgb(55, 167, 204);
	color: #ffffff;
}

.filter .button-group a.button.is-checked {
	background: rgb(55, 167, 204);
	color: #ffffff;
}

.filter .grid {
	margin-top: 1.5rem;
	border-radius: 1rem;
}

/* Hover Animation */
.filter .element-item {
	position: relative;
	float: left;
	overflow: hidden;
	width: 50%;
	background: #000000; /* to hide 1px white margin in IE */
}

.filter .element-item img {
	max-width: 100%;
	margin: 0;
	transition: all 0.3s;
}

.filter .element-item:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.filter .element-item .element-item-overlay { 
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	text-align: center;
	transition: all 0.3s;
}

.filter .element-item .element-item-overlay span { 
	position: absolute;
	z-index: 3;
	top: 45%;
	right: 0;
	left: 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}


/******************************/
/*     Project Lightboxes     */
/******************************/
.lightbox-basic {
	position: relative;
	max-width: 1150px;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color:#000;
	border-radius: 1rem;
	text-align: left;
}

.lightbox-basic .image-container {
	margin-bottom: 2rem;
	text-align: center;
}

.lightbox-basic .image-container img {
	border-radius: 6px;
}


.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 44px;
	height: 1px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
}

.lightbox-basic .text-container {
	margin-top: 1.5rem;
	margin-bottom: 2.25rem;
	padding: 1.5rem;
	background: #f4f4f4;
	color: #000;
	border-radius: 1rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	background: rgb(243, 112, 134);
	color: #fff;
	opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	background: transparent;
	color: #fff;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 1;
	transition: background 650ms ease-in;
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	background: rgb(243, 112, 134);
	border: none;
	color: #ffffff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 44px;
	height: 44px;
	color: #555555;
}
/* end of close x button */


/************************/
/*     Comments     */
/************************/
.slider-2 {
	padding-top: 7.75rem;
	padding-bottom: 8rem;
	background: #f4f4f4;
	text-align: center;
}

.slider-2 h2 {
	margin-bottom: 0.75rem;
	text-align: center;
	color: #000;
}

.slider-2 .hr-heading {
	margin-bottom: 3.5rem;
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 88%;
	text-align: center;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
	background-color: #000;
	border-radius: 1rem;
	padding: 1rem;
	padding: 0.5rem;
}

.slider-2 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
	background-color: #000;
	border-radius: 1rem;
	padding: 1rem;
	padding: 0.5rem;
}

.slider-2 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-2 .card-image {
	width: 96px;
	height: 96px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-2 .card-body {
	padding: 0;
}

.slider-2 .testimonial-text{
	color: #000;
}

.slider-2 .testimonial-author {
	margin-bottom: 0;
	color: #000;
}


/****************/
/*     Team     */
/****************/
.basic-5 {
	background: linear-gradient(45deg, rgb(55, 167, 204), rgb(243, 112, 134));
	color: #fff;
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.basic-5 h2 {
	margin-bottom: 0.75rem;
}

.basic-5 .hr-heading {
	margin-bottom: 3.5rem;
}

.basic-5 .card {
	background: #f4f4f4;
	color: #000;
	max-width: 300px;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	padding: 1rem;
	border-radius: 2rem;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.800);
}

/* Hover Animation */
.basic-5 .card-image {
	overflow: hidden;
	margin-bottom: 1.5rem;
	border-radius: 50%;
}

.basic-5 .card-image img {
	margin: 0;
	border-radius: 50%;
	transition: all 0.3s;
}

.basic-5 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.basic-5 .card-body {
	padding: 0;
}

.basic-5 .card-title {
	margin-bottom: 0.125rem;
}

.basic-5 .fa-stack {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	line-height: 1.75rem;
}

.basic-5 .fa-stack .fa-stack-2x {
	font-size: 1.75rem;
}

.basic-5 .fa-stack .fa-stack-2x,
.basic-5 .fa-stack .fa-stack-1x {
	width: 1.75rem;
	height: 1.75rem;
}

.basic-5 .fa-circle {
	color: rgb(243, 112, 134);
	transition: all 0.2s ease;
}

.basic-5 .fab {
	color: #ffffff;
}

.basic-5 .fa-stack:hover .fa-circle {
	color: #ffffff;
}

.basic-5 .fa-stack:hover .fab {
	color: rgb(243, 112, 134);
}


/*******************/
/*     Contact     */
/*******************/
.form-1 {
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(../images/contact.png) center no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 7.5rem;
	padding-bottom: 7.25rem;
}

.form-1 .purple{
	color:#fff;
}

.form-1 h2,
.form-1 .p-heading,
.form-1 .list-unstyled {
	text-align: center;
}

.form-1 .p-heading {
	margin-bottom: 0.25rem;
}

.form-1 .list-unstyled {
	margin-bottom: 3.5rem;
}

.form-1 .list-unstyled .fas {
	color: rgb(243, 112, 134);
}

.form-1 .form-control-input{
	border-radius: 1rem;
}

.form-1 .form-control-textarea {
	height: 8rem;
	border-radius: 1rem;
}

.form-1 .center-form{
	margin: auto;
}

.form-1 #contactForm{
	width: 25rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 5.25rem;
	padding-bottom: 1.5rem;
	background: #000;
	color: #fff;
}

.footer a {
	text-decoration: none;
}

.footer .second a{
	color: grey;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #fff;
}

.footer p,
.footer a,
.footer ul {
	color: #fff;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #fff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #000;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: rgb(243, 112, 134);
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #fff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	background: #000;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #fff;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: rgb(243, 112, 134) url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
	transition: background 650ms ease-in;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.800);
}

a:hover.back-to-top {
	background: rgb(243, 112, 134) url("../images/up-arrow.png") no-repeat center 47%;
}



/*************************/
/*     Media Queries     */
/*************************/	
/* Max-width 768px */
@media (max-width: 768px) {
	/* Navigation */
	.top-clicks{
		bottom: 20rem;
		box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.800), -30px 0px 40px rgba(0, 0, 0, 0.800);
	}

	/* end of navigation */

	/* Contact */
	.form-1 .form-group{
		width: 80%;
		margin: auto;
		padding-bottom: 1rem;
	}
	/* end of contact */

	/* Footer */
	.footer{
		margin: auto;
		text-align: center;
	}
	/* end of footer */

}

/* Max-width 992px */
@media (max-width: 992px) {
	/* Navigation */
	.top-clicks{
		box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.800), -30px 0px 40px rgba(0, 0, 0, 0.800);
	}
	/* end of navigation */

	/* Footer */
	.footer{
		margin: auto;
		text-align: center;
	}
	/* end of footer */
}

/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 8rem;
	}

	.header .form-container {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	/* end of header */


	/* Statement */
	.basic-1 {
		padding-top: 7.5rem;
	}

	.basic-1 .element {
		display: inline-block;
		vertical-align: middle;
	}

	.basic-1 .fa-chevron-down {
		display: none;
	}

	.basic-1 .fa-chevron-right {
		display: inline-block;
		margin-right: 1.125rem;
		margin-left: 1.125rem;
		color: #cfd7e0;
		font-size: 1rem;
	}
	/* end of statement */


	/* Details 1 */
	.accordion .accordion-container {
		max-width: 70%;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs .tabs-container {
		max-width: 70%;
	}

	.tabs #tab-2 .list-unstyled {
		display: inline-block;
		width: 45%;
		margin-top: 0;
	}
	
	.tabs #tab-2 .list-unstyled.first {
		margin-right: 2rem;
	}
	/* end of details 2 */


	/* Pricing */
	.cards-1 .card {
		padding-right: 2.25rem;
		padding-left: 2.25rem;
	}

	.cards-1 .price {
		top: -1.25rem;
		right: -1.25rem;
	}
	/* end of pricing */


	/* Contact */
	.form-1 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}
	/* end of contact */
	
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h1-large {
		font-size: 3.75rem;
		line-height: 4.25rem;
	}

	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 0.625rem;
		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.153);
		transition: all 0.2s;
	}

	.top-clicks {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.top-clicks.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */
	

	/* Header */
	.header {
		padding-top: 13rem;
		padding-bottom: 10rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 5rem;
		margin-bottom: 0;
	}
	/* end of header */


	/* Statement */
	.basic-1 .fa-chevron-right {
		margin-right: 1.875rem;
		margin-left: 1.875rem;
		font-size: 1.75rem;
	}

	.basic-1 .testimonial-text {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of statement */


	/* Services */
	.basic-2 .service-container {
		text-align: left;
	}

	.basic-2 .image-container {
		display: inline-block;
		margin-right: 0.75rem;
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		display: inline-block;
		width: 290px;
		vertical-align: top;
	}
	/* end of services */


	/* Description */
	.slider-1 .swiper-container {
		width: 98%;
	}

	.slider-1 .image-container {
		margin-bottom: 0;
	}
	
	.slider-1 .text-container {
		margin-top: 1.25rem;
	}

	.slider-1 .swiper-button-prev {
		left: -22px;
	}
	
	.slider-1 .swiper-button-next {
		right: -22px;
	}
	/* end of description */


	/* about 1 */
	.accordion {
		height: 590px;
	}
	
	.accordion .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}
	
	.accordion .area-2 {
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	
	.accordion .accordion-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 8rem;
		padding-bottom: 0;
	}

	.accordion .accordion-title {
		width: 85%;
	}
	/* end of about 1 */


	/* about 2 */
	.tabs {
		height: 668px;
	}

	.tabs .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}

	.tabs .area-2 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}

	.tabs .tabs-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 8rem;
		padding-bottom: 0;
	}

	.tabs .nav-tabs {
		justify-content: flex-start;
	}
	/* end of about 2 */


	/* Pricing */
	.cards-1 {
		padding-bottom: 8.25rem;
	}

	.cards-1 .card {
		display: inline-block;
		width: 290px;
		margin-bottom: 0;
		vertical-align: top;
	}

	.cards-1 .card:first-of-type {
		margin-right: 1.5rem;
	}
	
	.cards-1 .text-container {
		margin-top: 5.5rem;
		margin-bottom: 0;
	}
	/* end of pricing */


	/* Invitation */
	.basic-3 h5 {
		width: 43rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of invitation */


	/* Projects */
	.filter .element-item { 
		width: 25%; 
	}
	
	.filter .element-item .element-item-overlay { 
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.filter .element-item:hover .element-item-overlay {
		opacity: 1;
	}
	/* end of projects */


	/* Project Lightboxes */
	.lightbox-basic {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.lightbox-basic .image-container {
		margin-right: 1.5rem;
		margin-bottom: 0;
	}
	/* end of project lightboxes */


	/* Comments */
	.slider-2 .swiper-container {
		width: 94%;
	}

	.slider-2 .swiper-button-prev {
		left: -20px;
	}
	
	.slider-2 .swiper-button-next {
		right: -20px;
	}
	/* end of Comments */


	/* Team */
	.basic-5 .card {
		display: inline-block;
		width: 222px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.basic-5 .card:nth-of-type(4n+2) {
		margin-right: 0.25rem;
		margin-left: 0.5rem;
	}

	.basic-5 .card:nth-of-type(4n+3) {
		margin-right: 0.5rem;
		margin-left: 0.25rem;
	}
	/* end of team */


	/* Contact */
	.form-1 .map-responsive {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */

}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Navigation */
	.navbar .container {
		max-width: 100%;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	/* end of navigation */
	

	/* Header */
	.header {
		padding-top: 14rem;
		padding-bottom: 11rem;
	}

	.header .text-container {
		margin-top: 5.75rem;
		margin-right: 3rem;
	}

	.header .form-container {
		margin-left: 3rem;
	}
	/* end of header */


	/* Services */
	.basic-2 .first .service-container {
		margin-right: 1.5rem;
	}

	.basic-2 .second .service-container {
		margin-left: 1.5rem;
	}

	.basic-2 .image-container {
		margin-right: 1.5rem;
	}

	.basic-2 .text-container {
		width: 346px;
	}

	.basic-2 .text-container {
		margin-top: 0.5rem;
	}
	/* end of services */


	/* Description */
	.slider-1 .image-container {
		margin-right: 2rem;
	}

	.slider-1 .text-container {
		margin-top: 3.5rem;
		margin-left: 2rem;
	}

	.slider-1 .swiper-button-prev {
		left: -34px;
	}
	
	.slider-1 .swiper-button-next {
		right: -34px;
	}
	/* end of description */


	/* about 1 */
	.accordion .accordion-container {
		max-width: 476px;
		margin-left: 5rem;
		padding-top: 7.75rem;
	}
	/* end of about 1 */


	/* about 2 */
	.tabs .tabs-container {
		max-width: 476px;
		margin-right: 5rem;
		margin-left: auto;
	}

	.tabs #tab-2 .media-wrapper.first {
		margin-right: 2rem;
	}
	/* end of about 2 */


	/* Pricing */
	.cards-1 .text-container {
		margin-right: 1.5rem;
	}

	.cards-1 .card {
		width: 346px;
	}

	.cards-1 .card:first-of-type {
		margin-right: 2rem;
	}
	/* end of pricing */


	/* Projects */
	.filter .element-item {
		width: 277px; /* to eliminate grid overflow problem on hard refresh */
		height: 270px;
	}
	/* end of projects */


	/* Comments */
	.slider-2 .swiper-container {
		width: 96%;
	}

	.slider-2 .swiper-button-prev {
		left: -26px;
	}
	
	.slider-2 .swiper-button-next {
		right: -26px;
	}
	/* end of Comments */


	/* Team */
	.basic-5 .card {
		width: 250px;
	}

	.basic-5 .card:nth-of-type(4n+2) {
		margin-right: 1rem;
		margin-left: 2rem;
	}

	.basic-5 .card:nth-of-type(4n+3) {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	/* end of team */


	/* Contact */
	.form-1 .map-responsive {
		margin-right: 1.5rem;
		padding-bottom: 72%;
	}

	.form-1 form {
		margin-left: 1.5rem;
	}
	/* end of contact */

	
	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */

}
/* end of min-width 1200px */